<div class="container m-5">

  <button class="btn btn-md btn-outline-danger"(click)="onClick()">Delete or not</button>
  <br><br>
  <button class="btn btn-md btn-outline-secondary" (click)="onToast()">Click me for toast message</button>
  <br><br>
  <button (click)="showSuccess()" class="btn btn-md btn-outline-success">Click for toast message</button>
  <br><br>
  <button (click)="showInfo()" class="btn btn-md btn-outline-primary">Click for toast message</button>
  <br><br>
  <button (click)="showWarning()" class="btn btn-md btn-outline-warning">Click for toast message</button>
</div>